#background {
    background: url(/dist/assets/showcase.jpg) no-repeat top;
}

#section {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 2rem;
        grid-gap: 1.5rem;

        & img {
            width: 350px;
        }

        .about-content {
            padding: 1rem;
            background-color: $light-color;
            border-left: 5px solid $primary-color;
        }
    }

    .award {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;

        &-content {
            i { 
                font-size: 3rem;
                color: $primary-color;
            }

            .feature-content {
                text-align: justify;
            }
        } 
    }
}

#technical-section {
    padding: 4rem 0;
    background-color: $dark-color;
    text-align: center;
    color: $light-color;
    
    .technical {
        &-title {
           text-align: left;
           text-transform: uppercase;
        }
        
        .photography,
        .photoshop,
        .illustrator,
        .html-css,
        .wordpress,
        .magento {
            display: grid;
            margin: .5rem 0;
            border-radius: 5px;
            
            
            .percent-1 {
                height: 25px;
                background: $primary-color;
                border-radius: 5px 0 0 5px;
            }
            
            .percent-2 {
                height: 25px;
          
                background: $light-color;
                border-radius: 0 5px 5px 0;
            }

                
            }
        
        .photography {
            grid-template-columns: 1fr 0fr;
        }
        .photoshop {
            grid-template-columns: 4fr 1fr;
        }

        .illustrator {
            grid-template-columns: 2fr 1fr;
        }

        .html-css {
            grid-template-columns: 1fr 0fr;
        }

        .wordpress {
            grid-template-columns: 4fr 1fr;
        }

        .magento {
            grid-template-columns: 2fr 1fr;
        }
    }
}

#company {
    padding: 4rem 0;
    background-color: $light-color;
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

#section {
    .testimonial-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        align-items: center;
        padding: 1rem 0;

        .customer {
                border: 1px solid black;
                padding: 1rem;
            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                
                & > img{
                    width: 60px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
            }     
        }  
    }
}