#section {
    .section-info {
        font-size: 1.3rem;
        margin-top: 10px;
        font-style: italic;
    }

    .work {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 2rem;
        grid-gap: 1rem;

        &-img {
            width: 400px;
            height: 300px;
            overflow: hidden;
            position: relative;

            .overlay {
                background-color: #f9cb24a2;
                left: -275%;
                width: 150%;
                height: 100%;
                position: absolute;
                top: 0;
                transform: skewX(-45deg);
                
                @include transition(all 0.3s);
            }
            
            &:hover img {
                transform: scale(1.2);   
                
            }

            &:hover .overlay {
                left: -25%;
            }
            
            & > img {
                width: 100%;
                height: 100%;
                transform: scale(1);
                position: relative;
                @include transition(transform 0.2s ease);
            }
        }
    }
}